@using JWHDM.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.About; // The menu item will be active for this page.
}

<div>
    工业互联网数据管理Saas平台--技术支持与合作 kevin liu QQ：565726387 手机：13961789487
</div>